<!-- 
<div style="text-align:center">
    
    <nav>
      <a routerLink="gym" routerLinkActive="active">home</a> |--

      <a routerLink="about">about</a> |--
      <a routerLink="pricing">pricing</a>|-- 
      <a routerLink="gallery">gallery</a> |--
      <a routerLink="elements">elements</a> |--
      <a routerLink="blog">blog</a> |--
      <a routerLink="contect">contect</a> |--
      </nav>-->
      <!-- //The Router-Outlet is a directive that’s available from the router library where the Router inserts -->
     <!-- the component that gets matched based on the current browser’s URL.
      --> 
     <!--The content below is only a placeholder and can be replaced.-->
<!-- </div> -->

  <router-outlet></router-outlet>